@media (max-width: 479px) {
	.home-content p {
		margin-left: 1px;
		margin-right: 1px;
	}
}

@media (max-width: 768px) {
	.home-content p {
		margin-left: 1px;
		margin-right: 1px;
	}
}

@media (max-width: 991px) {
	.home-content p {
		margin-left: 1px;
		margin-right: 1px;
	}
	.about_text {
		margin-left: 1px;
	}
}