body, html {
	width: 100%;
	margin: 0%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #1c1c1c !important;
}

/* ==================================================================
						Navigation Style, bro
   ================================================================== */

.bg-nav {
	background: transparent !important;
	transition: 500ms ease;
}

.bg-nav.scrolled {
	background-color: #c1c1c1 !important;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff !important;
}

.navbar-light .navbar-nav:hover .nav-link:hover {
	color: #00FFFF !important;
}

section.home {
    background: url(../images/homebg.png) no-repeat top center #141315;
    background-size: cover;
    position: relative;
    padding-top: 80px;
}

.home-content {
	padding: 170px 20px 170px 20px;
	margin-top: 40px;
	margin-bottom: 90px;
}

.home-content h1 {
	color: #00dcb7;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 25px;
}

.home-content p {
	color: white;
	margin-right: 180px;
	margin-left: 180px;
}

.nav-link {
	font-size: 1.3em;
}

section.about {
	background-color: black;
}

.main_about_text {
	color: white;
	background: url(../images/headingbg.png) no-repeat top center;
    width: 323px;
    height: 220px;
    margin: 0 auto;
    text-align: center;
}

.about_text {
	margin-left: 109px;
	padding: 30px;
}

.about_text h4 {
	margin-bottom: 30px;
	color: #8e8e8e;
}

.about_text p {
	color: #c3c5c9;
}

.about_image {
	border-style: solid;
	border-color: white;
	border-width: 10px;
	padding: 20px;
}

.head_title {
	background: url(../images/headingbg.png) no-repeat top center;
    width: 323px;
    height: 220px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

section.objectives {
	background: url(../images/objectivesbg.jpg) no-repeat center center;
    background-size: cover;
}

.description_objectives {
	color: white;
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 50px;
}

.objective_class {
	border: 2px solid #fff;
    padding: 40px;
    position: relative;
    margin-top: 40px !important;
}

.objectives_img {
	border: 2px solid #fff;
    padding: 20px;
}

.objectives_text {
	position: absolute;
    left: 25%;
    bottom: -1%;
}

.btn-larg {
    color: #fff;
    background-color: #000;
    width: 185px;
    padding: 1rem 1rem;
    text-transform: uppercase;
    text-align: center;
}

.object_text {
	position: absolute;
	top: 79%;
	left: 25%;
}

.object_font {
	color: #fff;
    background-color: #000;
    width: 185px;
    padding: 1rem 1rem;
    text-transform: uppercase;
    text-align: center;
}

section.origin {
	background-color: #191919;
}

.origin_img {
	border: 10px solid #fff;
    padding: 60px;
}

.origin_text {
	padding: 100px;
}

.origin_text h3 {
	color: #4187ba;
	margin-bottom: 20px;
}

.origin_text h4 {
	font-weight: bold;
	color: gray;
}

.origin_text p {
	color: white;
}

.separator {
    height: 1px;
    width: 60px;
    margin: 10px 0;
    background-color: #333;
}

section.waas {
	background-color: #000;
}

.waas_main_text h2 {
	margin-top: 80px;
	margin-bottom: 10px;
}

.waas_main_text p {
	color: white;
	margin-bottom: 50px;
}

.waas_main_text h2 {
	color: #4e91fc;
}

.waas_images img {
	border-style: solid;
	border-color: #4d8ff9;
	border-width: 5px;
	padding: 10px;
}

footer {
	background-color: #1c1c1c;
}

.footer_title {
	color: gray;
	font-weight: bold;
	margin-bottom: 15px;
}

.footer_list {
	list-style: none;
	padding-left: 0;
	font-size: 1.25rem;
}

.footer_list a {
	text-decoration: none;
	color: lightgray;
}

.footer_list a:hover {
	color: aqua;
	text-decoration: none;
}

.footer_logotext {
	color: white;
	text-transform: uppercase;
	font-size: 0.8rem;
}