body, html {
	width: 100%;
	margin: 0%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/* ==================================================================
						Navigation Style, bro
   ================================================================== */

.bg-nav {
	background: transparent !important;
	transition: 500ms ease;
}

.bg-nav.scrolled {
	background-color: #343a40 !important;
}

.nav-link {
	color: gray;
}

.nav-link:hover {
	color: aqua;
}

section.home {
    background: url(../images/homebg.png) no-repeat top center #141315;
    background-size: cover;
    position: relative;
    padding-top: 80px;
}

.home-content {
	padding: 170px 20px 170px 20px;
	margin-top: 40px;
	margin-bottom: 90px;
}

.home-content h1 {
	color: aqua;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 25px;
}

.home-content p {
	color: white;
	margin-right: 180px;
	margin-left: 180px;
}

.nav-link {
	color: ;
	font-size: 20px;
}

section.about {
	background-color: black;
}

.main_about_text {
	color: white;
	background: url(../images/headingbg.png) no-repeat top center;
    width: 323px;
    height: 220px;
    margin: 0 auto;
    text-align: center;
}

.about_text {
	margin-left: 109px;
	padding: 30px;
}

.about_text h4 {
	margin-bottom: 30px;
	color: #8e8e8e;
}

.about_text p {
	color: #c3c5c9;
}

.about_image {
	border-style: solid;
	border-color: white;
	border-width: 10px;
	padding: 20px;
}

.head_title {
	background: url(../images/headingbg.png) no-repeat top center;
    width: 323px;
    height: 220px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

section.objectives {
	background: url(../images/objectivesbg.jpg) no-repeat center center;
    background-size: cover;
}

.description_objectives {
	color: white;
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 50px;
}

.objective_class {
	border: 2px solid #fff;
    padding: 40px;
    position: relative;
    margin-top: 40px !important;
}

.objectives_img {
	border: 2px solid #fff;
    padding: 20px;
}

.objectives_text {
	position: absolute;
    left: 25%;
    bottom: -1%;
}

.btn-larg {
    color: #fff;
    background-color: #000;
    width: 185px;
    padding: 1rem 1rem;
    text-transform: uppercase;
    text-align: center;
}

.object_text {
	position: absolute;
	top: 79%;
	left: 25%;
}

.object_font {
	color: #fff;
    background-color: #000;
    width: 185px;
    padding: 1rem 1rem;
    text-transform: uppercase;
    text-align: center;
}